*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.principal h1{
  font-size:120px;
  font-weight: 900;
  font-family: "Mulish", Sans-serif;
}
.principal{
  padding: 100px 50px
}
.imagenes{
  display:flex;
  gap: 100px;
  justify-content:center;
  padding:50px 0px;
}
.cards{
  display:flex;
  gap: 10px;
  padding:50px;
  flex-wrap: wrap;
}
.video{
  height:500px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #911df0 5%, #bc80ea 100%);
	background-color:#911df0;
	border-radius:6px;
	border:1px solid #7817bd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #210eb3;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #911df0 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button{
    display: flex;
    justify-content: center;
}
.some-text{
  padding: 40px;
}
.what-we-do{
    display: flex;
    justify-content: center;
    align-items:center;
    column-gap: 60px;
}
.what{
  font-weight: 900;
  font-size: 40px;
}
.somos{
  width: 60%;
  margin: auto;
  padding:50px;
  text-align: center;
}
.cards-text{
  width: 80%;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
}
.card-text{
  width: 50%;
}
.video-mapa{
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.the-team{
  width: 80%;
  margin: auto;
  text-align: center;
}
.foto-grupal{
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.random-text{
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 40px;
}
.cards-question{
  width: 90%;
  display:flex;
  margin: auto;
}
.card-question{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  border: solid 1px black;
  margin: 5px;
  padding: 20px;
}
.button{
  padding: 40px;
}




@media only screen and (max-width: 600px) {
  .principal h1{
    font-size:45px;

  }
  .imagenes{
    display:none;
  }
  .cards{
    padding:0px
  }
  .somos{
    width:90%;
    padding:0px
  }
  .cards-text{
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
  }
  .card-text{
    width:100%;
    padding: 15px;
  }
  .random-text{
    width:100%;
    padding: 15px;
  }
  .cards-question{
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
  }
  .card-question{
    width:100%;
    padding: 15px;
  }
  .ancho{
    font-weight: 1000;
  }
}