.container{
    display:flex;
    column-gap: 500px;
    font-size: 20px;
    font-weight:900;
    
}
.Navbar{
    position: sticky;
    top: 0;
    z-index: 200!important;
}
.logofavi{
    width: 90px;
    height: 50px;
}
.logo{
    width: 100px;
    height: 58px;
}
@media only screen and (max-width: 600px) {
    .navbar-brand{
        display:none;

    }
  }